
<div class="row p-5 bg-light mt-4 justify-content-center">
    <div class="col-sm-12 text-center">
        <i class="fa-solid fa-clipboard-check fa-10x text-success mb-4"></i>
        <h1 class="text-success">Sale Completed!</h1>

        <h4 class="text-dark-emphasis mb-4">Check your email for more details</h4>

        <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-warning" href="/Home/Index">Continue shopping</a>
            <a class="btn btn-primary" href="#">See my orders</a>
        </div>
    </div>
</div>