@model LoginVM;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewData["Title"] - MyOnlineStore</title>

</head>
<body class="bg-body-secondary">

    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-6 col-lg-4">
                <div class="card show">
                    <div class="card-body p-4">
                        <h2 class="card-title text-center mb-4">Login</h2>
                        <form action="/Account/Login" method="post">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="email" asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input class="form-control" type="password" asp-for="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            @if (ViewBag.message != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @ViewBag.message
                                </div>
                            }

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Log in</button>
                                <a href="/Account/Register" class="btn btn-outline-secondary">Register</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>